package.json
package-lock.json
yarn.lock
dist
assets
*.ico
*.orig
*.editorconfig
*.gitignore
*.prettierignore
browserslist
.browserslistrc

/.idea
.npmrc
yarn-error.log

debug.log
Jenkinsfile

scripts/

web.config