<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered dt-responsive nowrap">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Sede</th>
      <th>Prueba</th>
      <th>Lugar de Toma</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody *ngIf="precios?.length != 0">
    <tr *ngFor="let precio of precios">
      <td>{{ precio.Empresa }}</td>
      <td>{{ precio.sede }}</td>
      <td>{{ precio.Prueba }}</td>
      <td>{{ precio.lugarToma }}</td>
      <td>{{ precio.precio }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="precios?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table>
