<h1 mat-dialog-title>Hi CRUD</h1>
<div mat-dialog-content>
  <div class="row">
      <mat-form-field>
        <mat-label>Empresa</mat-label>
        <mat-select [(ngModel)]="data.organizationId" (selectionChange)="cargarSedes($event)">
          <mat-option *ngFor="let org of organizations" [value]="org.id">
            {{org.nombreAbrev}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Sedes</mat-label>
      <mat-select [(ngModel)]="data.locationId">
        <mat-option *ngFor="let sede of sedes" [value]="sede.SedeId">
          {{sede.Sede}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Componente</mat-label>
      <mat-select [(ngModel)]="data.tipoPrueba">
        <mat-option *ngFor="let component of components" [value]="component.value">
          {{component.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Lugar de Toma</mat-label>
      <mat-select [(ngModel)]="data.lugarTomaID">
        <mat-option *ngFor="let place of placeExam" [value]="place.value">
          {{place.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="example-full-width">
      <mat-label>Precio</mat-label>
      <input matInput type="number" placeholder="Ingresar Precio" [(ngModel)]="data.precio" >
    </mat-form-field>
  </div>

  <!-- </div> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCerrar()">Salir</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Grabar</button>
</div>
