legend {
  font-size: medium;
  font-weight: 600;
}

mat-form-field {
  width: 100%;
}

.ng-invalid:not(form).ng-touched {
  border: 1px solid #e13526;
}

.fechanacimiento {
  font-size: 0.75rem;
  padding: 5px;
  font-weight: 400;
}
